.bg-body-tertiary{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff !important;
}
.logo {
    width: 100px;
}

.nav__collapse{
    flex-grow: 0;
}
.nav__links {
   font-family: Karla;
   text-transform: uppercase;
   text-align: center;
}
a {
    color: #000;
    text-decoration: none;
    position: relative;
}
#navigation a.active {
    color: #797CD0;
  }

.dot {
    position: absolute;
    left: 45%;
    top: 26px;
    border-radius: 50%;
    background-color: #797cd0;
    width: 0.4rem;
    height: 0.4rem;
    opacity: 0;
    display: none;
}

#navigation a.active .dot{
    opacity: 1;
}

@media only screen and (max-width: 575px) {
    .nav__links {
        gap: 1rem;
        font-size: 12px;
    }
  }

@media (min-width: 576px) {
    .dot {
        display: none;
    }
    .nav__links {
        gap: 1rem;
        font-size: 13px;
    }
    .logo {
        width: 100px;
    }
    .logo {
        width: 100px;
    }
}
@media (min-width: 768px) {
    .logo {
        width: 120px;
    }
    .nav__links {
        gap: 1rem;
        font-size: 14px;
    }
    
}
@media (min-width: 992px) {
    .logo {
        width: 136px;
    }
    .dot {
        display: block;
    }
    .nav__links {
        gap: 2rem;
        font-size: 1rem;
    }
}