.homepage__container,
.aboutUs__container,
.solutions__container,
.resources__container,
.contact__container {
  margin-top: 9rem;
}


.column2nd {
  text-align: end;
}

.column2nd img {
  width: 100%;
  height: auto;
}

.digital__transformation {
  color: #797cd0;
}

.vertical_line {
  width: 2rem;
  background-color: #797cd0;
  height: auto;
}

.digital__content {
  border-left: 4px solid #797cd0;
}

.description .content {
  font-size: 18px;
  line-height: 36px;
}

.getStarted_btn {
  background-color: #797cd0 !important;
  border-color: #797cd0;
  font-weight: 500;
}

.getStarted_btn:hover {
  background-color: #797cd0;
  border-color: #797cd0;
  color: #fff;
}

.phase__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 0 0;
}

.phase__header span, h6, .phase__title h5 {
  color: #797cd0;
  font-family: Mulish;
  font-weight: 700;
}
.phase__header span {
  font-size: 13.5px;
}
.phase__header h6, .phase__title h5 {
  font-size: 18px;
}

.phase__icon {
  width: 120px;
  height: 120px;
  border: 7px solid #797cd0;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  background-color: #fff;
}

.phase__col {
  position: relative;
  height: 495px;
}


.phase-col1{
  position: relative;
  width: 285px;
  height: 495px;
}

.polygon__img {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.phase__desc{
  text-wrap: wrap;
  padding: 0rem 2rem;
  text-align: start;
}
.phase__desc .content{
  display: flex;
  gap: 12px;
}
.phase__desc .content p{
 margin: 0;
 font-family: Inter;
}
.check__icon{
  font-size: 1.5rem;
  color: #797cd0;
}

.phase__row{
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  overflow-y: hidden;
  margin: 4rem 0rem;
}
.phase__wrapper{
  padding: 0rem 0.5rem;
  margin: 4rem 0rem;
}

.transformation__row{
  margin-bottom: 3rem;
}
.transformation__heading span {
  color: #797cd0;
  font-size: 40px;
}
/* services */
.service__text {
  font-weight: 500;
}
.phase__row::-webkit-scrollbar {
  height: '6px';
  width: '6px';
}

.phase__row::-webkit-scrollbar{
  display: none;
}
.phase__row::-webkit-scrollbar-track {
  -webkit-border-radius: '10px';
  border-radius: '10px';
}
.phase__row::-webkit-scrollbar-thumb{
  -webkit-border-radius: '10px';
  border-radius: '10px';
  background-color: '#c8c8c8';
  --webkitBoxShadow: 'inset 0 0 6px #c8c8c8';
}



.service__section .title {
  font-size: 2.019rem;
  color: #797cd0;
  font-family: Inter;
  font-weight: 600;
}

.see_all {
  font-size: 1.25rem;
  color: #797cd0;
  font-family: Inter;
  cursor: pointer;
}

.cards {
  border-top: 10px solid #797cd0;
  box-shadow: 0 8.1px 4.04px rgba(121, 124, 208, 0.5);
  border-radius: 12.11px;
}

.card_title {
  text-align: center;
  color: #797cd0;
}

.horizontal_line {
  width: 5rem;
  border-top: 3px solid #797cd0;
}

.desc {
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
}

.read_more {
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.read_more a{
  color: #797cd0 !important;
  text-decoration: none;
}

/* Business & Solution */

.business__section .title {
  font-size: 2.019rem;
  color: #797cd0;
  font-family: Inter;
  font-weight: 600;
}

.vision_text {
  font-size: 1.388rem;
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-weight: 600;
  line-height: 2.523rem;
  letter-spacing: 0.02em;
}

.business_img {
  width: 100%;
}

/* Case Study */

.caseStudy__header {
  font-size: 2.019rem;
  color: #797cd0;
  font-family: Mulish;
  font-weight: bolder;
  text-align: center;
}

.card_layout {
  border-radius: 0;
  border: 1px solid #797cd0;
  text-align: center;
}

.caseStudy__title {
  font-size: 2.269rem;
  color: #797cd0;
  font-family: Mulish;
  font-weight: 600;
}

#traffic__title {
  font-size: 1.7rem;
}

.caseStudy__description {
  font-size: 1.169rem;
  color: rgba(5, 5, 5, 0.7);
}


/* partners  */

.partners__header {
  color: #797cd0;
  text-align: center;
}

.partners__row {
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 575px) {

  .homepage__container,
  .aboutUs__container,
  .solutions__container,
  .resources__container,
  .contact__container {
    margin-top: 6rem;
  }

  .hero__section,
.service__section,
.transformation__section,
.business__section,
.offerings__section,
.caseStudy__section,
.solutions__section,
.partners__section {
  margin: 0px 0 3rem 0rem;
}

  .vertical_line {
    width: 0.8rem;
  }

  .getStarted_btn {
    width: 100%;
    font-size: 14px;
  }

  .col2 {
    order: 1;
  }

  .top_header {
    font-size: 1.5rem;
  }

  .description .content {
    font-size: 14px;
    line-height: 24px;
  }

  .service__text {
    font-size: 16px;
  }

  .service__section .title {
    font-size: 20px;
  }

  .business__section .title {
    font-size: 20px;
  }

  .see_all {
    font-size: 12px;
    text-wrap: nowrap;
  }

  .service__section .headerDiv {
    gap: 2rem;
  }

  .top_icon {
    height: 68px;
  }

  .card_title {
    font-size: 18px;
  }

  .right_icon {
    width: 1.25rem;
  }

  .card_col {
    padding: 0px 48px;
  }

  .read_more {
    font-size: 13px;
  }

  .card_icon {
    height: 48px;
  }

  .vision_text {
    font-size: 14px;
    line-height: 1.5rem;
  }

  .business_img {
    height: auto;
  }

  .caseStudy__grid {
    display: flex;
    flex-direction: column;
  }

  .caseStudy__header {
    font-size: 2.019rem;
  }

  .caseStudy__header {
    font-size: 1.4rem;
  }

  .partners__row {
    flex-direction: column;
    row-gap: 1.2rem;
  }

  .partners__row img:nth-child(1) {
    width: 145px;
  }

  .partners__row img:nth-child(2) {
    width: 250px;
  }

  .partners__row img:nth-child(3) {
    width: 147px;
  }

  .caseStudy__title {
    font-size: 1.2rem;
  }

  #traffic__title {
    font-size: 1rem;
  }

  .caseStudy__description {
    font-size: 14px;
  }

  .transformation__row{
    margin-bottom: 2rem;
  }

  .transformation__heading {
    font-size: 18px;
  }
  .transformation__heading span {
    font-size: 24px;
  }

  .phase__wrapper{
    text-align: -webkit-center;
  }
  .phase-col1{
      width: 220px;
      height: 430px;
  }

  .phase__icon{
    width: 102px;
    height: 102px;
    border: 5px solid #797cd0;
  }
  .phase__icon img{
    width: 50%;
  }
  .polygon__img{
    width: 110%;
  }

  .phase__header h6, .phase__title h5{
    font-size: 15px;
  }
  .phase__header span{
    font-size: 12px;
  }

  .phase__desc{
    padding: 0rem 1.5rem;
  }
  .check__icon{
    font-size: 18px;
  }

  .phase__desc .content p {
    font-size: 14px;
  }
}

@media (min-width: 576px) {

  .homepage__container,
  .aboutUs__container,
  .solutions__container,
  .resources__container,
  .contact__container {
    margin-top: 6rem;
  }

  .hero__section,
.service__section,
.transformation__section,
.business__section,
.offerings__section,
.caseStudy__section,
.solutions__section,
.partners__section {
  margin: 0px 0 3rem 0rem;
}

  .vertical_line {
    width: 1rem;
  }

  .top_header {
    font-size: 1.8rem;
  }

  .getStarted_btn {
    font-size: 1rem;
  }

  .description .content {
    font-size: 16px;
    line-height: 30px;
  }

  .service__text {
    font-size: 18px;
  }

  .service__section .title {
    font-size: 22px;
  }

  .business__section .title {
    font-size: 22px;
  }

  .see_all {
    font-size: 14px;
  }

  .top_icon {
    height: 76px;
  }

  .read_more {
    font-size: 14px;
  }

  .card_icon {
    height: 62px;
  }

  .vision_text {
    font-size: 16px;
  }

  .caseStudy__grid {
    display: flex;
    flex-direction: row;
  }

  .caseStudy__header {
    font-size: 1.5rem;
  }

  .partners__row {
    flex-direction: row;
  }

  .partners__row img:nth-child(1) {
    width: 164px;
  }

  .partners__row img:nth-child(2) {
    width: 278px;
  }

  .partners__row img:nth-child(3) {
    width: 152px;
  }

  .caseStudy__title {
    font-size: 1.3rem;
  }

  #traffic__title {
    font-size: 1.2rem;
  }

  .caseStudy__description {
    font-size: 1rem;
  }

  .transformation__row{
    margin-bottom: 2.2rem;
  }

  .transformation__heading {
    font-size: 19px;
  }
  .transformation__heading span {
    font-size: 25px;
  }

  .phase__wrapper{
    text-align: -webkit-center;
  }
  .phase-col1{
      width: 230px;
      height: 445px;
  }

  .phase__icon{
    width: 110px;
    height: 110px;
    border: 6px solid #797cd0;
  }
  .phase__icon img{
    width: 50%;
  }
  

  .phase__header h6, .phase__title h5{
    font-size: 16px;
  }
  .phase__header span{
    font-size: 13px;
  }

  .phase__desc{
    padding: 0rem 1.5rem;
  }
  .check__icon{
    font-size: 19px;
  }

  .phase__desc .content p {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .top_header {
    font-size: 2rem;
  }

  .description .content {
    font-size: 17px;
    line-height: 32px;
  }

  .service__text {
    font-size: 20px;
  }

  .service__section .title {
    font-size: 28px;
  }

  .business__section .title {
    font-size: 28px;
  }

  .top_icon {
    height: 78px;
  }

  .cards {
    margin: 0;
  }

  .card_icon {
    height: 68px;
  }

  .vision_text {
    font-size: 18px;
  }

  .caseStudy__grid {
    display: flex;
    flex-direction: row;
  }

  .caseStudy__header {
    font-size: 1.8rem;
  }

  .caseStudy__title {
    font-size: 1.5rem;
  }

  #traffic__title {
    font-size: 1.3rem;
  }

  .caseStudy__description {
    font-size: 1.2rem;
  }

  .partners__row img:nth-child(1) {
    width: 172px;
  }

  .partners__row img:nth-child(2) {
    width: 287px;
  }

  .partners__row img:nth-child(3) {
    width: 164px;
  }

  .transformation__row{
    margin-bottom: 2.5rem;
  }

  .transformation__heading {
    font-size: 22px;
}

  .transformation__heading span {
    font-size: 32px;
  }

 
  .phase-col1{
      width: 236px;
      height: 450px;
  }

  

  .phase__icon{
    width: 115px;
    height: 115px;
    border: 6px solid #797cd0;
  }
  .phase__icon img{
    width: 50%;
  }

  .phase__header h6, .phase__title h5{
    font-size: 16px;
  }
  .phase__header span{
    font-size: 13px;
  }

  .phase__desc{
    padding: 0rem 1.5rem;
  }
  .check__icon{
    font-size: 19px;
  }

  .phase__desc .content p {
    font-size: 15px;
  }
}

@media (min-width: 992px) {

  .homepage__container,
  .aboutUs__container,
  .solutions__container,
  .resources__container,
  .contact__container {
    margin-top: 9rem;
  }

  .hero__section,
.service__section,
.transformation__section,
.business__section,
.offerings__section,
.caseStudy__section,
.solutions__section,
.partners__section {
  margin: 0px 0 5rem 0rem;
}

  .col2 {
    order: 2;
  }

  .top_header {
    font-size: 2.5rem;
  }

  .description .content {
    font-size: 20px;
    line-height: 36px;
  }

  .getStarted_btn {
    font-size: 1.2rem;
  }

  .right_icon {
    width: 1.5rem;
  }

  .service__section .title {
    font-size: 2rem;
  }

  .business__section .title {
    font-size: 2rem;
  }

  .see_all {
    font-size: 1rem;
  }

  .top_icon,
  .card_icon {
    height: 80px;
  }

  .vision_text {
    font-size: 1.388rem;
  }

  .caseStudy__grid {
    flex-direction: column;
  }

  .caseStudy__header {
    font-size: 2.019rem;
  }

  .partners__row img:nth-child(1) {
    width: 172px;
  }

  .partners__row img:nth-child(2) {
    width: 356px;
  }

  .partners__row img:nth-child(3) {
    width: 164px;
  }

  .transformation__row{
    margin-bottom: 3rem;
  }
  .transformation__heading {
    font-size: 28px;
}

  .transformation__heading span {
    font-size: 40px;
  }

  .accordion-button:not(.collapsed) {
    color: #797cd0;
    background-color: #fff;
  }

  .accordion-button:focus {
    box-shadow: #797cd0;
  }

 
  .phase-col1{
    width: 285px;
    height: 495px;
  }

  .phase__icon{
    width: 120px;
  height: 120px;
    border: 7px solid #797cd0;
  }
  .phase__icon img{
    width: 50%;
  }

  .phase__header h6, .phase__title h5{
    font-size: 18px;
  }
  .phase__header span{
    font-size: 13.5px;
  }

  .phase__desc{
    padding: 0rem 2rem;
  }
  .check__icon{
    font-size: 1.5rem;
  }

  .phase__desc .content p {
    font-size: 16px;
  }
}